# Node
**/node_modules/*
**/npm-debug.*

# DO NOT IGNORE TYPESCRIPT FILES FOR NPM
# TypeScript
# *.js
# *.map
# *.d.ts

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store

# NPM
.npmignore

# VSCode
.vscode
.vscode/*
debug.*

# Git
.gitignore
.gitattributes

# CI Services
.travis.yml
.appveyor.yml
appveyor.yml

# Linters
.eslintrc
.eslintrc.json
.eslintrc.yml
tslint.json

# Task Runners
gulpfile.js
gulpfile.ts
gruntfile.js
gruntfile.ts

# TypeScript
tsconfig.json
typings.json
